# ----------------------
# Environment variables
# ----------------------
.env

# ----------------------
# Python cache / bytecode
# ----------------------
__pycache__/
*.pyc

# ----------------------
# IDE / editor files
# ----------------------
.idea/
/workspace.xml
/shelf/

# ----------------------
# Application data (non-source)
# ----------------------

# ----------------------
# Documentation / wiki
# ----------------------
/generated_files
/vo_recordings
/character_assets
/text_to_speech/piper/voices
/text_to_speech/piper/tts_output
